
<div id="container">
    <h1>Subjects</h1>
    <div id="TradeContainer">
        <div id="kendodialog"></div>
        <div id="kendoAlertdialog"></div>
        <div id="AddButton">
            <button type='button' id='newRecordButton' class='k-button k-button-solid k-button-md k-rounded-md k-button-solid-base'>
                <span class='k-icon k-i-add'></span>Add New Record</button>
        </div>
        <div id="SubjectsGrid"></div>
    </div>
</div>


@section scripts {
        <script src="~/lib/kendoui.for.jquery.2023.2.718.trial/js/kendo.all.min.js"></script>

        <script type="text/x-kendo-template" id="alertDialog_template">
            <div class="modal-body" id="alertBody">
                <span id="alertMessage">Do you want to Delete this Record?</span>
                <div class="form-group" id="alertControlButton">
                    <button type="button" id="alert_no" onclick="alert_no()" class="btn btn-danger">No</button>
                    <button type="button" id="alert_yes" onclick="alert_yes()" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </script>
        <script type="text/x-kendo-template" id="editDialog_template">
            <div class="modal-body">
                <div class="form-group" id="formControl">
                    <label class="k-label" for="tradeName_ddl">Trade Name:</label><br>
                    <input id="tradeName_ddl" class="form-control"/>
                </div>
                <div class="form-group" id="formControl">
                <label class="k-label" for="years_ddl">Year Name:</label><br>
                    <input id="years_ddl" class="form-control"/>
                </div>
                <div class="form-group" id="formControl">
                    <label class="k-label" for="subjectName">Subject Name:</label><br>
                    <input type="text" class="form-control" id="subjectsName">
                </div>
                <div class="form-group" id="formControlButton">
                    <button type="button" id="btnClose" onclick="editDialogCloseBtn()" class="btn btn-danger">Close</button>
                    <button type="button" id="btnAdd" onclick="editDialogAddBtn()" class="btn btn-primary">#= btnName#</button>
                </div>
            </div>
        </script>

        <script>
            var record = 0;

            var kendoEditDialog = $("#kendodialog").kendoDialog({
                width: "500px",
                closable: false,
                modal: false,
                visible: false,
                open:function(e){

                    $("#tradeName_ddl").kendoDropDownList();
                    GetTradeData();
                    $("#years_ddl").kendoDropDownList();

                }
            });

            function GetTradeData() {
                $.ajax({
                    url: '@Url.Action("GetDropDownTradeData","Year")',
                    method: "GET",
                    contentType: "application/json",
                    success: function (data) {
                        $("#tradeName_ddl").kendoDropDownList({
                            filter: "startswith",
                            dataTextField: "TradeName",
                            dataValueField: "ID",
                            dataSource: data,
                            select: function (e) {
                                var item = e.item;
                                var text = item.text();
                                GetYearData();
                            }
                        });
                    },
                    error: function (errMsg) {
                        alert(JSON.stringify(errMsg));
                    }
                });
            }

            function GetYearData(){
                $.ajax({
                url: '@Url.Action("GetDropDownYearData","Subjects")',
                    method: "GET",
                    contentType: "application/json",
                    success: function (data) {
                        $("#years_ddl").kendoDropDownList({
                            filter: "startswith",
                            dataTextField: "YearName",
                            dataValueField: "ID",
                            dataSource: data,
                            select: function (e) {
                                var item = e.item;
                                var text = item.text();
                            }
                        });
                    },
                    error: function (errMsg) {
                        alert(JSON.stringify(errMsg));
                    }
                });
            }
            var kendoAlertDialog = $("#kendoAlertdialog").kendoDialog({
                width: "500px",
                closable: false,
                modal: false,
                visible: false
            });

            $(document).ready(function () {
                dataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            type:"POST",
                            url: '@Url.Action("GetSubjects","Subjects")',
                        },
                    },
                    pageSize: 4,
                });

                $("#SubjectsGrid").kendoGrid({
                    dataSource: dataSource,
                    columnMenu: {
                        filterable: false
                    },
                    pageable: true,
                    sortable: true,
                    groupable: true,
                    filterable: true,
                    editable: false,
                    toolbar: ["search"],
                    search: {
                        fields: ["name", { name: "tradeName", operator: "eq" }]
                    },
                    columns: [
                        {
                            title: "#",
                            template: "#= ++record #",
                            width: 50
                        },
                        {
                            field: "ID",
                            title: "ID",
                        },{
                            field: "SubjectName",
                            title: "SubjectName",
                        },{
                            field: "TradeName",
                            title: "TradeName",
                        },{
                            field: "Title",
                            title: "Title",
                        },{
                            field: "YearID",
                            title: "YearID",
                        },{
                            field: "YearName",
                            title: "YearName",
                        },{
                            filed:"Action",
                            template: "<button type='button' id='editButton' onclick='EditOnClick()' class='k-button k-button-solid k-button-md k-rounded-md k-button-solid-base'><span class='k-icon k-i-edit'></span>Edit</button> </t>" +
                                "<button type='button' id='deleteButton' onclick='DeleteOnClick()' class='k-button k-button-solid k-button-md k-rounded-md k-button-solid-base'> <span class='k-icon k-i-trash'></span>Delete</button> "
                        }
                    ], dataBinding: function () {
                        record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
                    }

                });

                $("#newRecordButton").click(function () {
                    var scriptTemplate = kendo.template($("#editDialog_template").html());
                    var scriptData = { btnName: 'Add' };

                    kendoEditDialog.html(scriptTemplate(scriptData));
                    kendoEditDialog.data("kendoDialog").open();
                });
            });

            function EditOnClick(){
                var scriptTemplate = kendo.template($("#editDialog_template").html());
                var scriptData = { btnName: 'Save' };

                kendoEditDialog.html(scriptTemplate(scriptData));
                kendoEditDialog.data("kendoDialog").open();
            }
            function editDialogCloseBtn(){
                kendoEditDialog.data("kendoDialog").close();
            }
            function editDialogAddBtn(){


            }
            function DeleteOnClick(){
                var scriptTemplate = kendo.template($("#alertDialog_template").html());
                var scriptData = {};
                kendoAlertDialog.html(scriptTemplate(scriptData));
                kendoAlertDialog.data("kendoDialog").open();
            }
            function alert_no(){
                kendoAlertDialog.data("kendoDialog").close();
            }
            function alert_yes(){
                kendoAlertDialog.data("kendoDialog").close();
            }

            function dropDownClick(){

            }
        </script>
}