
<div id="container">
    <h1>Topic</h1>
    <div id="TradeContainer">
        <div id="kendodialog"></div>
        <div id="kendoAlertdialog"></div>

        <div id="AddButton">
            <button type='button' id='newRecordButton' class='k-button k-button-solid k-button-md k-rounded-md k-button-solid-base'>
                <span class='k-icon k-i-add'></span>Add New Record
            </button>
        </div>
        <div id="TopicGrid"></div>
    </div>
</div>


@section scripts {
    <script src="~/lib/kendoui.for.jquery.2023.2.718.trial/js/kendo.all.min.js"></script>

    <script type="text/x-kendo-template" id="alertDialog_template">
        <div class="modal-body" id="alertBody">
            <span id="alertMessage">Do you want to Delete this Record?</span>
            <div class="form-group" id="alertControlButton">
                <button type="button" id="alert_no" onclick="alert_no()" class="btn btn-danger">No</button>
                <button type="button" id="alert_yes" onclick="alert_yes()" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </script>

    <script type="text/x-kendo-template" id="editDialog_template">
        <div class="modal-body">
            <div class="form-group" id="formControl">
                <label class="k-label" for="tradeName_ddl">Trade Name:</label><br>
                <input id="tradeName_ddl"  data-id='#=TradeID#' class="form-control"/>
            </div>
            <div class="form-group" id="formControl">
                <label class="k-label" for="years_ddl">Year Name:</label><br>
                <input id="years_ddl"  data-id='#=YearID#' class="form-control"/>
            </div>
            <div class="form-group" id="formControl">
                <label class="k-label" for="subjects_ddl">Subject Name:</label><br>
                <input id="subjects_ddl"  data-id='#=SubjectID#' class="form-control"/>
            </div>
            <div class="form-group" id="formControl">
                <label class="k-label" for="pwd">Topic Name:</label><br>
                <input type="text" data-id='#= selectedId#' class="form-control" value='#= selectedName#' id="topicName">
            </div>
            <div class="form-group" id="formControlButton">
                <button type="button" id="btnClose" onclick="editDialogCloseBtn()" class="btn btn-danger">Close</button>
                <button type="button" id="btnAdd" onclick="editDialogAddBtn()" class="btn btn-primary">#= btnName#</button>
            </div>
        </div>
    </script>

    <script>
        var record = 0;

        var kendoEditDialog = $("#kendodialog").kendoDialog({
            width: "500px",
            closable: false,
            modal: false,
            visible: false,
            open: function (e) {

                $("#tradeName_ddl").kendoDropDownList();
                GetTradeData();
                $("#years_ddl").kendoDropDownList();
                $("#subjects_ddl").kendoDropDownList();
            
            }
        });

        function GetTradeData() {
            $.ajax({
                url: '@Url.Action("GetDropDownTradeData","Year")',
                method: "GET",
                contentType: "application/json",
                success: function (data) {
                    var Id = $("#tradeName_ddl").data().id;

                    $("#tradeName_ddl").kendoDropDownList({
                        filter: "startswith",
                        dataTextField: "TradeName",
                        dataValueField: "ID",
                        dataSource: data,
                        select: function (e) {
                            var item = e.item;
                            var text = item.text();
                            GetYearData(e.dataItem.ID);
                        }
                    });

                    if (Id != '') {
                        var index = data.findIndex((d) => {
                            return d.ID == Id;
                        })
                        $("#tradeName_ddl").data('kendoDropDownList').select(index);
                        GetYearData(Id);
                    } else {
                        if (data.length != 0) {
                            GetYearData(data[0].ID);
                        }
                    }

                },
                error: function (errMsg) {
                    alert(JSON.stringify(errMsg));
                }
            });
        }

        function GetYearData(ID) {
            var dataString = "TradeID=" + ID;
            $.ajax({
                url: '@Url.Action("GetDropDownYearData","Subjects")',
                method: "GET",
                dataType: "json",
                data: dataString,
                success: function (data) {
                    var Id = $("#years_ddl").data().id;

                    $("#years_ddl").kendoDropDownList({
                        filter: "startswith",
                        dataTextField: "YearName",
                        dataValueField: "ID",
                        dataSource: data,
                        select: function (e) {
                            var item = e.item;
                            var text = item.text();
                            GetSubjectData(e.dataItem.ID);
                        }
                    });

                    if (Id != '') {
                        var index = data.findIndex((d) => {
                            return d.ID == Id;
                        })
                        $("#years_ddl").data('kendoDropDownList').select(index);
                        GetSubjectData(Id);
                    } else {
                        if (data.length != 0) {
                            GetSubjectData(data[0].ID);
                        }
                    }
                },
                error: function (errMsg) {
                    alert(JSON.stringify(errMsg));
                }
            });
        }
        function GetSubjectData(ID) {
            var dataString = "YearID=" + ID;
            $.ajax({
                url: '@Url.Action("GetDropDownSubjectsData","Topic")',
                dataType: "json",
                data: dataString,
                success: function (data) {
                    var Id = $("#subjects_ddl").data().id;

                    $("#subjects_ddl").kendoDropDownList({
                        filter: "startswith",
                        dataTextField: "SubjectName",
                        dataValueField: "ID",
                        dataSource: data,
                        select: function (e) {
                            var item = e.item;
                            var text = item.text();
                        }
                    });

                    if (Id != '') {
                        var index = data.findIndex((d) => {
                            return d.ID == Id;
                        })
                        $("#subjects_ddl").data('kendoDropDownList').select(index);
                    }
                },
                error: function (errMsg) {
                    alert(JSON.stringify(errMsg));
                }
            });
        }

        var kendoAlertDialog = $("#kendoAlertdialog").kendoDialog({
            width: "500px",
            closable: false,
            modal: false,
            visible: false
        });

        $(document).ready(function () {
            dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        type: "POST",
                        url: '@Url.Action("GetTopic","Topic")',
                    },
                },
                pageSize: 4,
            });

            $("#TopicGrid").kendoGrid({
                dataSource: dataSource,
                columnMenu: {
                    filterable: false
                },
                pageable: true,
                sortable: true,
                groupable: true,
                filterable: true,
                editable: false,
                toolbar: ["search"],
                search: {
                    fields: ["name", { name: "topicName", operator: "eq" }]
                },
                columns: [
                    {
                        title: "#",
                        template: "#= ++record #",
                        width: 50
                    },
                    {
                        field: "ID",
                        title: "ID",
                    },
                    {
                        field: "TradeName",
                        title: "TradeName",
                    },
                    {
                        field: "YearName",
                        title: "YearName",
                    },
                    {
                        field: "TopicName",
                        title: "TopicName",
                    },
                    {
                        field: "Title",
                        title: "Title",
                    },
                    {
                        field: "SubjectID",
                        title: "SubjectID",
                    },
                    {
                        field: "SubjectName",
                        title: "SubjectName",
                    },
                    {
                        field: "YearID",
                        title: "YearID",
                    },
                    {
                        field: "TradeID",
                        title: "TradeID",
                    },
                    {
                        filed: "Action",
                        template: "<button type='button' id='editButton'  data-id='#= ID#' onclick='EditOnClick(this)' class='k-button k-button-solid k-button-md k-rounded-md k-button-solid-base'><span class='k-icon k-i-edit'></span>Edit</button> </t>" +
                            "<button type='button' id='deleteButton'  data-id='#= ID#' onclick='DeleteOnClick(this)' class='k-button k-button-solid k-button-md k-rounded-md k-button-solid-base'> <span class='k-icon k-i-trash'></span>Delete</button> "
                    }
                ], dataBinding: function () {
                    record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
                }

            });



            $("#newRecordButton").click(function () {
                var scriptTemplate = kendo.template($("#editDialog_template").html());
                var scriptData = { 
                    btnName: 'Add',
                    selectedId: '',
                    selectedName: '',
                    SubjectID: '',
                    YearID: '',
                    TradeID: '',
                    TradeName: '' 
                };

                kendoEditDialog.html(scriptTemplate(scriptData));
                kendoEditDialog.data("kendoDialog").open();
            });
        });

        function EditOnClick(e) {
            var scriptTemplate = kendo.template($("#editDialog_template").html());
            var Id = e.dataset.id;

            var kendoData = $('#TopicGrid').data('kendoGrid').dataSource.data();
            var selectedData;
            kendoData.map((data) => {
                if (data.ID == Id) {
                    selectedData = data;
                }
            });

            var scriptData = {
                btnName: 'Update',
                selectedId: Id,
                selectedName: selectedData.TopicName,
                SubjectID: selectedData.SubjectID,
                YearID: selectedData.YearID,
                TradeID: selectedData.TradeID,
                TradeName: selectedData.TradeName
            };

            kendoEditDialog.html(scriptTemplate(scriptData));
            kendoEditDialog.data("kendoDialog").open();
        }
        function editDialogCloseBtn() {
            kendoEditDialog.data("kendoDialog").close();
        }
        function editDialogAddBtn() {

        }
        function DeleteOnClick() {
            var scriptTemplate = kendo.template($("#alertDialog_template").html());
            var scriptData = {};
            kendoAlertDialog.html(scriptTemplate(scriptData));
            kendoAlertDialog.data("kendoDialog").open();
        }
        function alert_no() {
            kendoAlertDialog.data("kendoDialog").close();
        }
        function alert_yes() {
            kendoAlertDialog.data("kendoDialog").close();
        }
    </script>
}